{% extends 'base/base.html' %}

{% block content %}
<form method="post">
	{% csrf_token %}
{{ form.as_p }}
	<a class= "btn btn-default" href="{% url 'adopcion:solicitud_listar' %}">Guardar</a>
</form>
{% endblock %}
