{% extends 'base/base.html' %} 

{% block content %}
<form method="post">
	{% csrf_token %}
	<h2>¿Desea eliminar el registro de {{object.nombre}}?</h2>
	<button class="btn btn-danger" type="submit">Sí, eliminar</button>
	<a class="btn btn-default" href="{% url 'mascota:mascota_listar'%}">Cancelar</a>
</form>
{% endblock %}

