{% extends 'base/base.html' %} 

{% block content %}

<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Sexo</td>
            <td>Fecha de Rescate</td>
            <td>Edad aproximada</td>
            <td>Fecha de Registro</td>
            <td>Adoptante</td>
            <td>Vacuna</td>
            <td>Función</td>
            
        </tr>

    </thead>
    <tbody>
        {% if object_list %}
        {% for mascota in object_list %}
        <tr>
            <td>{{mascota.folio}}</td>
            <td>{{mascota.nombre}}</td>
            <td>{{mascota.sexo}}</td>
            <td>{{mascota.fecha_rescate}}</td>
            <td class="text-center">{{mascota.edad_aproximada}}</td>
            <td>{{mascota.fecha_registro}}</td>
            <td>{{mascota.persona.nombre}} {{mascota.persona.apellidos}}</td>
            <td><ul>{% for objvacuna in mascota.vacuna.values %}
                <li>{{objvacuna.nombre}}</li>
                {% endfor %}</ul>
            </td>
            <td>
            <a class="btn btn-primary" href="{% url 'mascota:mascota_editar' mascota.folio %}">Editar</a>
            <a class="btn btn-danger" href="{% url 'mascota:mascota_eliminar' mascota.folio %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <h1>No hay registros de Mascotas</h1>
        {% endif %}
    </tbody>
</table>
<a button class="btn btn-primary" href="{% url 'mascota:mascota_crear' %}">Crear </button></td></a>
{% endblock %}

