{% extends 'base/base.html' %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td class="text-center">No. Solicitud</td>
			<td class="text-center">Adoptante</td>
			<td class="text-center">Edad</td>
			<td class="text-center">Telefono</td>
			<td class="text-center">Correo</td>
			<td class="text-center">Dirección Fisica</td>
			<td class="text-center">No. Mascotas</td>
			<td class="text-center">Razones</td>
			<td class="text-center">Acciones</td>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for solicitud in object_list %}
		<tr>
			<td class="text-center">{{ solicitud.id }}</td>
			<td class="text-center">{{ solicitud.persona.nombre }} {{solicitud.persona.apellidos}}</td>
			<td class="text-center">{{ solicitud.persona.edad }} </td>
			<td class="text-center">{{ solicitud.persona.telefono }} </td>
			<td class="text-center">{{ solicitud.persona.correo }} </td>
			<td class="text-center">{{ solicitud.persona.domicilio}} </td>
			<td class="text-center">{{ solicitud.numero_mascotas }}</td>
			<td class="text-center"	>{{ solicitud.razones }}</td>
			
			<td>
				<a class="btn btn-primary" href="{% url 'adopcion:solicitud_editar' solicitud.id %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'adopcion:solicitud_eliminar' solicitud.id %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de solicitudes</h1>
		{% endif %}

	</tbody>
</table>
<a button class="btn btn-primary" href="{% url 'adopcion:solicitud_crear' %}">Crear </button></td></a>

{% endblock%}

